doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Page Title
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        p   Hello world! This is Pug Boilerplate g
        button#get-json-btn Get JSON

        script(src="scripts/main.js")